
<div class="row">
  <div class="col-lg-6">
    <div class="page-header">
      <h1>Degrees types <%= link_to 'Add', new_degree_type_path, class: "btn btn-default btn-xs" %></h1>
    </div>

    <!-- <p>Download list as <%#= link_to "CSV", users_path(format: "csv") %>.</p> -->
  </div>
  <div class="col-lg-6">
    <ul class="list-group">
      <li class="list-group-item">              
        <script src='http://www.google.com/jsapi'></script>
        <div id='chart1'></div>
        <%= render_chart @chart_careers, 'chart1' %>
      </li>
    </ul>         
  </div>
</div>

<ul class="list-group">
  <% @degree_types.each do |degree_type| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-sm-3">
          <%= link_to degree_type.degree_type_name, degree_type, data: { no_turbolink: true } %>
        </div>
        <div class="col-sm-2">
          <span class="badge"><%= degree_type.degrees.size %></span>
        </div>
        <div class="col-sm-4">
          <%= degree_type.degree_type_notes %>
        </div>
        <div class="col-sm-3">
          <div class="btn-group pull-right">        
            <%= link_to 'Show', degree_type, data: { no_turbolink: true }, class: "btn btn-default btn-xs" %>
            <% if current_user.admin %>
              <%= link_to 'Edit', edit_degree_type_path(degree_type), class: "btn btn-default btn-xs" %>
              <%= link_to 'Delete', degree_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
