<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">

    <div class="page-header">
      <h1><%= @degree_type.degree_type_name %></h1>
    </div>


    <p>
      Count: <span class="badge"><%= @degree_type.degrees.size %></span>
    </p>

    <p>
      <strong>Degree type notes:</strong>
      <%= @degree_type.degree_type_notes %>
    </p>

    <div class="btn-group">
      <% if current_user.admin %>
        <%= link_to 'Edit', edit_degree_type_path(@degree_type), class: "btn btn-sm btn-default" %>
      <% end %>
      <%= link_to 'Back', degree_types_path, data: { no_turbolink: true }, class: "btn btn-sm btn-default" %>
    </div>
  </div>
  <div class="col-md-6">

    <% if @chart_phds %>
      <script src='http://www.google.com/jsapi'></script>
      <div id='chart2'></div>
      <%= render_chart @chart_phds, 'chart2' %>              
    <% end %>
  </div>
</div>


<% if @degrees.present? %>
  <%= will_paginate @degrees %>
    <%= render @degrees %>
  <%= will_paginate @degrees %>
<% else %>
  <div class="alert alert-danger" role="alert">No alumni with this degree type.</div>
<% end %>
