<div class="col-md-8 col-md-offset-2">

	<div class="page-header">
	  <h1>Search</h1>
	</div>


	<% if defined?(@result_present) %>
		<!-- <h4>Results...</h4> -->
	<% end %>
	
	<% if (defined?(@result_present) ) && (not @result_present )%>
		<div class="alert alert-danger">Your query did not result any results.</div>
	<% end %>

	<% if (not defined?(@result_present) ) && (not @result_present )%>
		<div class="alert alert-danger">No query entered.</div>
	<% end %>

	<% if @alum_search  %>
		<% if not @alum_search.results.blank? %>
			<h4>Alumni</h4>
		<% end %>
		<ul class="list-group">
			<% @alum_search.results.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to "#{s.first_name} #{s.last_name}", s %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @record_search %>
		<% if not @record_search.results.blank? %>
			<h4>Records</h4>
		<% end %>
		<ul class="list-group">
			<% @record_search.results.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to "#{s.alum.first_name} #{s.alum.last_name}", s %> <small>(<%= s.career.career_name %>, <%= s.company_name %>)
				</li></small>
			<% end %>
		</ul>
	<% end %>

	<% if @degree_search %>
		<% if not @degree_search.results.blank? %>
			<h4>Degrees</h4>
		<% end %>
		<ul class="list-group">
			<% @degree_search.results.each do |s| %>
	     	<li class="list-group-item">							
					<%#= link_to s.id, s %>
					<%= link_to "#{s.alum.first_name} #{s.alum.last_name}", s %> <small>(<%= s.degree_type.degree_type_name %>, <%= s.graduation_year %>, <%= s.thesis_title %>)</small>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @career_search %>
		<% if not @career_search.results.blank? %>
			<h4>Careers</h4>
		<% end %>
		<ul class="list-group">
			<% @career_search.results.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to s.career_name, s %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @degree_type_search %>
		<% if not @degree_type_search.results.blank? %>
			<h4>Degree types</h4>
		<% end %>
		<ul class="list-group">
			<% @degree_type_search.results.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to s.degree_type_name, s %>
				</li>
			<% end %>
		</ul>
	<% end %>


	<% if @user_search %>
		<% if not @user_search.results.blank? %>
			<h4>Supervisors</h4>
		<% end %>
		<ul class="list-group">
			<% @user_search.results.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to "#{s.name} #{s.surname}", s %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @photo_search %>
		<% if not @photo_search.results.blank? %>
			<h4>Attachements</h4>
		<% end %>
		<ul class="list-group">
			<% @photo_search.results.each do |s| %>
	     	<li class="list-group-item">							
		        	<%= link_to s.photo_filename, s %>
				</li>
			<% end %>
		</ul>
	<% end %>

</div>
