
<div class="row">
  <div class="col-md-6">

    <div class="page-header">
      <h1>Career types <%= link_to 'Add', new_career_path, class: "btn btn-default btn-xs" %></h1>
    </div>

    <!-- <p>Download list as <%#= link_to "CSV", users_path(format: "csv") %>.</p> -->
  </div>
  <div class="col-md-6">
    <script src='http://www.google.com/jsapi'></script>
    <div id='chart1'></div>
    <%= render_chart @chart_careers, 'chart1' %>              
  </div>
</div>

<ul class="list-group">
  <% @careers.each do |career| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-sm-3">
          <%= link_to career.career_name, career %>
        </div>
        <div class="col-sm-2">
          <span class="badge"><%= career.records.size %></span>
        </div>
        <div class="col-sm-2">
          <%= career.career_type %>
        </div>
        <div class="col-sm-2">
          <%= career.career_system %>
        </div>
        <div class="col-sm-3">
          <div class="btn-group pull-right">        
            <%= link_to 'Show', career, class: "btn btn-default btn-xs" %>
            <%= link_to 'Edit', edit_career_path(career), class: "btn btn-default btn-xs" %>
            <% if current_user.admin %>
              <%= link_to 'Delete', career, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

