<div class="page-header">
  <h1>Careers</h1>
</div>

<p><%= link_to 'New Career', new_career_path, class: "btn btn-primary" %></p>

<ul class="list-group">
  <% @careers.each do |career| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-sm-3">
          <%= career.career_name %>
        </div>
        <div class="col-sm-2">
          <span class="badge"><%= career.records.size %></span>
        </div>
        <div class="col-sm-2">
          <%= career.career_type %>
        </div>
        <div class="col-sm-2">
          <%= career.career_system %>
        </div>
        <div class="col-sm-3">
          <div class="btn-group pull-right">        
            <%= link_to 'Show', career, class: "btn btn-default btn-xs" %>
            <%= link_to 'Edit', edit_career_path(career), class: "btn btn-default btn-xs" %>
            <%= link_to 'Delete', career, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

