<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @career.career_name %></h1>
</div>


<p>
  <strong>Career type:</strong>
  <%= @career.career_type %>
</p>

<p>
  <strong>Career system:</strong>
  <%= @career.career_system %>
</p>

<p>
  <strong>Career notes:</strong>
  <%= @career.career_notes %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_career_path(@career), class: "btn btn-sm btn-default" %>
  <%= link_to 'Back', careers_path, class: "btn btn-sm btn-default" %>
</div>

<hr>

<% if @career.records.present? %>
  <%= render @career.records.sort_by{|e| e[:created_at]} %>
<% else %>
  <div class="alert alert-danger" role="alert">No alumni with this career.</div>
<% end %>
