<% if @degrees.blank? %>
	<p class="alert alert-danger">No alumni yet.</p>
<% else %>

<%#= will_paginate @degrees %>

<ul class="list-group">

  <% @degrees.each do |degree| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-md-3">
          <% if degree.alum %>
            <%= link_to "#{degree.alum.first_name} #{degree.alum.last_name}", degree.alum %>
          <% end %>
        </div>
        <div class="col-md-2">
          <%= degree.degree_type.degree_type_name %> 
          <% if degree.graduation_year %>
            (<%= degree.graduation_year.year %>)
          <% else %>
            (<font style="color:lightgrey;">No year</font>)
          <% end %>
        </div>
        <div class="col-md-4">
          <% if degree.thesis_title == "NA" or not degree.thesis_title.present? %>
            <font style="color:lightgrey;">No title</font>
          <% else %>
            <em><%= degree.thesis_title %></em>
          <% end %>
        </div>
        <div class="col-md-3">
          <div class="btn-group pull-right">
            <%= link_to 'Show', degree.alum, class: "btn btn-xs btn-default" %>
            <%#= link_to 'Edit', edit_degree_path(degree), class: "btn btn-xs btn-default" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%#= will_paginate @degrees %>

<% end %>

