<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h1><%= @user.name %> <%= @user.surname %> <% if current_user == @user %><%= link_to 'Add Alumni', new_alum_path, class: 'btn btn-default btn-xs' %><% end %></h1>
    </div>

    <p>
      <%= mail_to @user.email %>
    </p>

    <p>
      Count: <span class="badge"><%= @degrees.count %></span>
    </p>
  </div>
  <div class="col-md-6">
    
    <% if @chart_phds %>
      <script src='http://www.google.com/jsapi'></script>
      <div id='chart2'></div>
      <%= render_chart @chart_phds, 'chart2' %>              
    <% end %>
  </div>
</div>

<p><label class="label label-danger">Warning</label> Please don't delete entries unless you are really sure they don't belong.</p>

<%= render "user_degrees" %>

