<li class="list-group-item">              
  <div class="row">
    <div class="col-md-2">
      <% if @career %>
        <%= link_to "#{record.alum.first_name} #{record.alum.last_name}", alum_path(record.alum) %>
      <% end %>
      <% if @alum %>
        <%= link_to record.career.career_name, career_path(record.career) %>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= record.record_date %> to<br> 
      <% if record.until_date %>
        <%= record.until_date %>
      <% else %>
        Present
      <% end %>
    </div>
    <div class="col-md-2">
      <%= record.position_title %>
    </div>
    <div class="col-md-2">
      <%= record.company_name %>
    </div>
    <div class="col-md-2">
      <%= mail_to record.email %>
    </div>
    <div class="col-md-2">
      <div class="btn-group pull-right">
        <% if @alum %>
          <%= link_to 'Show', record_path(record), class: "btn btn-xs btn-default" %>
        <% end %>
        <% if @career %>
          <%= link_to 'Show', record_path(record), class: "btn btn-xs btn-default" %>
        <% end %>
        <%= link_to 'Edit', edit_record_path(record), class: "btn btn-xs btn-default" %>
        <%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
      </div>

    </div>
  </div>
</li>
