<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="page-header">
      <h1>Career record: <%= @record.alum.first_name %> <%= @record.alum.last_name %></h1>
    </div>

    <p>
      <strong>Enterer:</strong>
      <%= mail_to @record.user.email, @record.user.name %>
    </p>


    <p>
      <strong>Career:</strong>
      <%= link_to @record.career.career_name, @record.career %>
    </p>

    <p>
      <strong>Company name:</strong>
      <%= @record.company_name %>
    </p>

    <p>
      <strong>From date:</strong>
      <%= @record.record_date %>
    </p>

    <p>
      <strong>Until date:</strong>
      <% if @record.until_date %>
        <%= @record.until_date %>
      <% else %>
        Present
      <% end %>
    </p>

    <p>
      <strong>Work link:</strong>
      <% if @record.work_link.present? %>
        <%= link_to @record.work_link, @record.work_link, :target => "_blank" %>
      <% end %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= mail_to @record.email, @record.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @record.phone %>
    </p>

    <p>
      <strong>Record notes:</strong>
      <%= @record.record_notes %>
    </p>

    <div class="btn-group">
      <%= link_to 'Edit', edit_record_path(@record), class: "btn btn-sm btn-default" %>
      <%= link_to 'Back', alum_path(@record.alum), class: "btn btn-sm btn-default" %>
    </div>

  </div>
</div>