<li class="list-group-item">              
  <div class="row">
    <div class="col-md-2">
      <%#= degree.degree_type.degree_type_name %>
      <% if @alum %>
        <%= link_to degree.degree_type.degree_type_name, degree_type_path(degree.degree_type), data: { no_turbolink: true } %>
      <% end %>
      <% if @degree_type || @degrees %>
        <%= link_to "#{degree.alum.first_name} #{degree.alum.last_name}", alum_path(degree.alum), data: { no_turbolink: true } %>
      <% end %>
    </div>
    <div class="col-md-2">
      Approved: <%= degree.approval_year %><br>
      <% if degree.graduation_year.present? %>
        Graduated: <%= degree.graduation_year %>
      <% else %>
        Graduated: no
      <% end %>
    </div>
    <div class="col-md-4">
      <em><%= degree.thesis_title %></em>
    </div>
    <div class="col-md-2">
      <% if not degree.users.empty? %>
        <% degree.users.each do |user| %>
        <%= link_to "#{user.name} #{user.surname}", user, data: { no_turbolink: true } %><br>
        <% end %>
      <% end %>
    </div>


    <div class="col-md-2">
      <div class="btn-group pull-right">
        <% if @alum %>
          <%= link_to 'Show', degree_path(degree), class: "btn btn-xs btn-default" %>
        <% end %>
        <% if @degree_type %>
          <%= link_to 'Show', degree_path(degree), class: "btn btn-xs btn-default" %>
        <% end %>
        <%= link_to 'Edit', edit_degree_path(degree), class: "btn btn-xs btn-default" %>
        <% if current_user.admin %>
          <%= link_to 'Delete', degree, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</li>