<%= form_for(@degree) do |f| %>

  <%= render 'shared/error_messages', object: @degree %>

  <%#= f.hidden_field :user_id, :value => current_user.id %>

  <% if @degree.alum %>
    <%= f.hidden_field :alum_id, :value => @degree.alum.id %>
    <%= f.label :alumni_name %>: <%= @degree.alum.first_name %> <%= @degree.alum.last_name %>
  <% else %>
    <%= f.select :alum_id, Alum.all.map { |u| ["#{u.first_name} #{u.last_name}", u.id] }, { selected: params[:alum_id] }, class: "form-control" %>
  <% end %>

  <p>
  </p>

  <div class="form-group">
    <%= f.label :degree_name %><br>
    <%= f.select :degree_type_id, DegreeType.all.map { |u| [u.degree_type_name, u.id] }, { include_blank: "Degree..." }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :graduation_date %> (yyyy/mm/dd)<br>
    <%#= f.date_select :graduation_year, class: "form-control" %>
    <%= f.text_field :graduation_year, {class: "form-control", id: "grad-date"} %>
  </div>
  <div class="form-group">
    <%= f.label :thesis_title %><br>
    <%= f.text_field :thesis_title, class: "form-control" %>
  </div>


  <div id="users">
    <%= f.fields_for :users do |t| %>
      <%= render "user_fields", :f => t %>
    <% end %>
  </div>
  <div class="links">
    <p><%= link_to_add_association "add a supervisor", f, :users %></p>
  </div>


  <div class="form-group">
    <%= f.label :degree_notes %><br>
    <%= f.text_area :degree_notes, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-default" %>

<% end %>
