<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @degree.user %>
</p>

<p>
  <strong>Alum:</strong>
  <%= @degree.alum %>
</p>

<p>
  <strong>Degree name:</strong>
  <%= @degree.degree_name %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @degree.graduation_year %>
</p>

<p>
  <strong>Thesis title:</strong>
  <%= @degree.thesis_title %>
</p>

<p>
  <strong>Degree notes:</strong>
  <%= @degree.degree_notes %>
</p>


<%= link_to 'Edit', edit_degree_path(@degree) %> |
<%= link_to 'Back', degrees_path %>
