<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="page-header">
      <h1>Degree record for <%= link_to "#{@degree.alum.first_name} #{@degree.alum.last_name}", alum_path(@degree.alum) %></h1>
    </div>

    <p>
      <strong>Degree name:</strong>
      <%= link_to @degree.degree_type.degree_type_name, @degree.degree_type %>
    </p>

    <p>
      <strong>Degree approval date:</strong>
      <%= @degree.approval_year %>
    </p>

    <p>
      <strong>Graduation date:</strong>
      <%= @degree.graduation_year %>
    </p>

    <p>
      <strong>Thesis title:</strong>
      <%= @degree.thesis_title %>
    </p>

    <p>
      <strong>Supervisor/s:</strong>
      <% @degree.users.each do |s| %>
        <li><%= link_to "#{s.name} #{s.surname}", user_path(s), data: { no_turbolink: true } %></li>
      <% end %>
    </p>


    <p>
      <strong>Degree notes:</strong>
      <%= @degree.degree_notes %>
    </p>



    <div class="btn-group">
      <%= link_to 'Edit', edit_degree_path(@degree), class: "btn btn-sm btn-default" %>
      <%= link_to 'Back', alum_path(@degree.alum), class: "btn btn-sm btn-default" %>
    </div>

  </div>
</div>