<div class="page-header">
  <h1>Alumni</h1>
</div>

<p>
  <%= link_to 'New Alumni', new_alum_path, class: "btn btn-primary pull-right" %>
</p>

<p>Tags: 
  <%= link_to "clear", alums_path, class: "label label-danger"  %>
  <% tag_cloud Alum.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: "label label-primary"  %>
  <% end %>
</p>

<p>
  Count: <span class="badge"><%= @alums.count %></span>
</p>

<% if @alums.empty? %>
  <p class="alert alert-danger">No results.</p>
<% end %>

<%= will_paginate @alums %>

<ul class="list-group">
  <% @alums.each do |alum| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-md-3">
          <%= link_to "#{alum.first_name} #{alum.last_name}", alum %>
        </div>
        <div class="col-md-3">
          
        </div>
        <div class="col-md-2">
          <%= alum.mq_id %>
        </div>
        <div class="col-md-2">
          <%= alum.alum_notes %>
        </div>
        <div class="col-md-2">
          <div class="btn-group pull-right">
            <%= link_to 'Show', alum, class: "btn btn-xs btn-default" %>
            <%= link_to 'Edit', edit_alum_path(alum), class: "btn btn-xs btn-default" %>
            <%= link_to 'Delete', alum, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @alums %>
