<div class="page-header">
  <h1>Alumni <%= link_to 'Add', new_alum_path, class: "btn btn-xs btn-default" %></h1>
</div>

<p>Tags: 
  <%= link_to "clear", alums_path, class: "label label-danger"  %>
  <% tag_cloud Alum.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: "label label-primary"  %>
  <% end %>
</p>

<p>
  Count: <span class="badge"><%= @alums.count %></span>
</p>

<% if @alums.empty? %>
  <p class="alert alert-danger">No results.</p>
<% end %>


<%#= sortable "degrees.count", "Name" %>
<%= will_paginate @alums %>

<ul class="list-group">
  <% @alums.order_degrees.each do |alum| %>
  <%# @alums.each do |alum| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-md-3">
          <%= link_to "#{alum.first_name} #{alum.last_name}", alum %>
        </div>
        <div class="col-md-3">
          <% last_degree = Degree.where("alum_id = ?", alum.id).last %>
          <% if last_degree %>
            <%= last_degree.degree_type.degree_type_name %>
            <% if last_degree.graduation_year %>
              (<%= last_degree.graduation_year.year %>)
            <% else %>
              (<font style="color:lightgrey;">No date</font>)
            <% end %>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if alum.records.exists? %>
            <%= link_to alum.records.last.career.career_name, career_path(alum.records.last.career), data: { no_turbolink: true } %>
            <% if alum.records.last.until_date %>
              (<%= alum.records.last.until_date.year %>)
            <% else %>
              (present)
            <% end %>
          <% else %>
            <font style="color:lightgrey;">Career not entered</font>
          <% end %>
        </div>
        <div class="col-md-2">
          <div class="btn-group pull-right">
            <%= link_to 'Show', alum, class: "btn btn-xs btn-default" %>
            <%= link_to 'Edit', edit_alum_path(alum), class: "btn btn-xs btn-default" %>
            <% if signed_in? && current_user.admin? %>
              <%= link_to 'Delete', alum, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @alums %>
