<div class="page-header">
  <h1>Alumni</h1>
</div>

<p>Count: <span class="badge"><%= @alums.count %></span>
</p>

<div class="well">
  <div class="row">
    <div class="col-md-5">
      <div id="tag_cloud">
        <% tag_cloud Alum.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: "label label-primary"  %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <%= form_tag alums_path, :method => 'get' do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], :placeholder => "Search alumni...", class: "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", :name => nil, class: "btn btn-default" %> 
            <%= link_to 'Reset', alums_path, class: "btn btn-default" %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to 'New Alumni', new_alum_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>
</div>

<% if @alums.empty? %>
  <p class="alert alert-danger">No results.</p>
<% end %>

<%= will_paginate @alums %>

<ul class="list-group">
  <% @alums.each do |alum| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-md-3">
          <%= link_to "#{alum.first_name} #{alum.last_name}", alum %>
        </div>
        <div class="col-md-3">
          
        </div>
        <div class="col-md-2">
          <%= alum.mq_id %>
        </div>
        <div class="col-md-2">
          <%= alum.alum_notes %>
        </div>
        <div class="col-md-2">
          <div class="btn-group pull-right">
            <%= link_to 'Show', alum, class: "btn btn-xs btn-default" %>
            <%= link_to 'Edit', edit_alum_path(alum), class: "btn btn-xs btn-default" %>
            <%= link_to 'Delete', alum, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @alums %>
