<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @alum.first_name %> <%= @alum.last_name %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <p>
      <strong>Sex:</strong>
      <%= @alum.sex %>
    </p>

    <p>
      <strong>Date of birth:</strong>
      <%= @alum.dob %>
    </p>

    <p>
      <strong>Mq:</strong>
      <%= @alum.mq_id %>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= @alum.alum_notes %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= raw @alum.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
  </div>
  <div class="col-md-4">
    <div class="well">
      <p>
        <strong>LinkedIn:</strong>
        <% if @alum.linked_in.present? %>
          <%= link_to @alum.linked_in, @alum.linked_in, target: "_blank" %>
        <% end %>
      </p>

      <p>
        <strong>Twitter:</strong>
        <% if @alum.twitter.present? %>
          <%= link_to @alum.twitter, "https://twitter.com/" + @alum.twitter, target: "_blank" %>
        <% end %>
      </p>

      <p>
        <strong>Facebook:</strong>
        <% if @alum.facebook.present? %>
          <%= link_to @alum.facebook, @alum.facebook, target: "_blank" %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="btn-group">
  <%= link_to 'Edit', edit_alum_path(@alum), class: "btn btn-sm btn-default" %>
  <%= link_to 'Back', alums_path, class: "btn btn-sm btn-default" %>
</div>

<hr>
<p>Below you can enter information about <%= @alum.first_name %> <%= @alum.last_name %>, such as other degrees, what they're doing now (career records) and photographs.  Once you have entered information, you can edit these entries to add other details, such as notes. Let Lara (<%= mail_to "lara.ainley@students.mq.edu.au" %>) know if you don't know how to fit something.</p>
<p><label class="label label-danger">Warning</label> Please don't delete entries unless you are sure they don't belong.</p>



  <h3>Degree records <%= link_to 'Add', new_degree_path(:alum_id => @alum), class: "btn btn-xs btn-default" %></h3>

  <% if @alum.degrees.present? %>
    <ul class="list-group">
    <%= render @alum.degrees %>
    </ul>
  <% else %>
    <p class="alert alert-danger">No degrees yet.</p>
  <% end %>

  <h3>Career records <%= link_to 'Add', new_record_path(:alum_id => @alum), class: "btn btn-default btn-xs" %></h3>
    
  <% if @alum.records.present? %>
    <ul class="list-group">
    <%= render @alum.records %>
    </ul>
  <% else %>
    <p class="alert alert-danger">No career records yet.</p>
  <% end %>

  <h3>Alumni photos <%= link_to 'Add', new_photo_path(:alum_id => @alum), class: "btn btn-default btn-xs" %></h3>
  <% if @alum.photos.present? %>
    <ul class="list-group">
    <%= render @alum.photos.sort_by{|e| e[:created_at]} %>
    </ul>
  <% else %>
    <p class="alert alert-danger">No alumni photos yet.</p>
  <% end %>


