<p id="notice"><%= notice %></p>

<h1><%= @alum.first_name %> <%= @alum.middle_name %> <%= @alum.last_name %></h1>

<hr>

<p>
  <strong>Sex:</strong>
  <%= @alum.sex %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @alum.dob %>
</p>

<p>
  <strong>Mq:</strong>
  <%= @alum.mq_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @alum.alum_notes %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @alum.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_alum_path(@alum), class: "btn btn-sm btn-default" %>
  <%= link_to 'Back', alums_path, class: "btn btn-sm btn-default" %>
</div>

<hr>
<p>Below you can enter information about <%= @alum.first_name %>, such as other degrees, what they're doing now (career records) and photographs.  Once you have entered information, you can edit these entries to add other details, such as notes. Let Lara (<%= mail_to "lara.ainley@students.mq.edu.au" %>) know if you don't know how to fit something.</p>
<p><label class="label label-danger">Warning</label> Please don't delete entries unless you are sure they don't belong.</p>


<div class="well">

  <h3>Degrees</h3>

  <ul class="list-group">
    <%= render @alum.degrees %>
  </ul>

  <%= form_for([@alum, @alum.degrees.build]) do |f| %>
    <div class="row">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="col-md-2">
        <%= f.select :degree_type_id, DegreeType.all.map { |u| [u.degree_type_name, u.id] }, { include_blank: "Degree..." }, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.date_select :graduation_year, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :thesis_title, :placeholder => "Thesis title...", class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.select :user_id, User.all.map { |u| [u.name, u.id] }, { include_blank: "Supervisor..." }, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.submit class: "btn btn-primary pull-right" %>
      </div>
    </div>  
  <% end %>

</div>

<div class="well">

  <h3>Career records</h3>

  <ul class="list-group">
    <%= render @alum.records %>
  </ul>

  <%= form_for([@alum, @alum.records.build]) do |f| %>
    <div class="row">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="col-md-2">
        <%#= f.text_field :career_id, class: "form-control" %>
        <%= f.select :career_id, Career.all.map { |u| [u.career_name, u.id] }, { include_blank: "Career..." }, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.date_select :record_date, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :position_title, :placeholder => "Position title...", class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :work_link, :placeholder => "Work link...", class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :email, :placeholder => "Email...", class: "form-control" %>
      </div>

      <div class="col-md-2">
        <%= f.submit class: "btn btn-primary pull-right" %>
      </div>
    </div>  

  <% end %>

</div>
<div class="well">

  <h3>Photos</h3>

  <ul class="list-group">
    <%= render @alum.photos.sort_by{|e| e[:created_at]} %>
  </ul>

  <%= form_for([@alum, @alum.photos.build]) do |f| %>
    <div class="row">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :alum_id, :value => @alum.id %>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      <%= f.date_select :photo_date, {:start_year => 1960}, class: "inline-block" %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :photo_filename, :placeholder => "Photo title...", class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.file_field :photograph, class: "form-control" %>
      </div>

      <div class="col-md-2">
        <%= f.submit "Upload Photo", class: "btn btn-primary pull-right" %>
      </div>
    </div>  

  <% end %>

</div>



