<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @alum.first_name %> <%= @alum.last_name %></h1>
</div>

<div class="row">
  <div class="col-md-7">

    <p>
      <strong>Sex:</strong>
      <% if @alum.sex.present? %>
        <%= @alum.sex %>
      <% else %>
        <font style="color:lightgrey;">None</font>
      <% end %>
    </p>


    <p>
      <strong>Date of birth:</strong>
      <% if @alum.dob.present? %>
        <%= @alum.dob %>
      <% else %>
        <font style="color:lightgrey;">None</font>
      <% end %>
    </p>

    <p>
      <strong>Macquarie ID:</strong>
      <% if @alum.mq_id.present? %>
        <%= @alum.mq_id %>
      <% else %>
        <font style="color:lightgrey;">None</font>
      <% end %>
    </p>

    <p>
      <strong>Notes:</strong>
      <% if @alum.alum_notes.present? %>
        <%= @alum.alum_notes %>
      <% else %>
        <font style="color:lightgrey;">None</font>
      <% end %>
    </p>

    <p>
      <strong>Tags:</strong>
      <% if @alum.tag_list.present? %>
        <%= raw @alum.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      <% else %>
        <font style="color:lightgrey;">None</font>
      <% end %>
    </p>

<div class="btn-group">
  <%= link_to 'Edit', edit_alum_path(@alum), class: "btn btn-xs btn-default" %>
  <%= link_to 'Back', alums_path, class: "btn btn-xs btn-default" %>
</div>
  <%= link_to 'Delete Alumnus', @alum, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger pull-right" %>

  </div>
  <div class="col-md-5">
    <div class="well">
      <p>
        <strong>LinkedIn:</strong>
        <% if @alum.linked_in.present? %>
          <%= link_to @alum.linked_in, @alum.linked_in, target: "_blank" %>
        <% else %>
          <font style="color:lightgrey;">None</font>
        <% end %>
      </p>

      <p>
        <strong>Twitter:</strong>
        <% if @alum.twitter.present? %>
          <%= link_to @alum.twitter, "https://twitter.com/" + @alum.twitter, target: "_blank" %>
        <% else %>
          <font style="color:lightgrey;">None</font>
        <% end %>
      </p>

      <p>
        <strong>Facebook:</strong>
        <% if @alum.facebook.present? %>
          <%= link_to @alum.facebook, @alum.facebook, target: "_blank" %>
        <% else %>
          <font style="color:lightgrey;">None</font>
        <% end %>
      </p>
    </div>
  </div>
</div>




  <h3>Degree records <%= link_to 'Add', new_degree_path(:alum_id => @alum), class: "btn btn-xs btn-default" %></h3>

  <% if @alum.degrees.present? %>
    <ul class="list-group">
    <%= render @alum.degrees %>
    </ul>
  <% else %>
    <p class="alert alert-danger">No degrees yet.</p>
  <% end %>

  <h3>Career records <%= link_to 'Add', new_record_path(:alum_id => @alum), class: "btn btn-default btn-xs" %></h3>
    
  <% if @alum.records.present? %>
    <ul class="list-group">
    <%= render @alum.records %>
    </ul>
  <% else %>
    <p class="alert alert-danger">No career records yet.</p>
  <% end %>

  <h3>Alumni uploads <%= link_to 'Add', new_photo_path(:alum_id => @alum), class: "btn btn-default btn-xs" %></h3>
  <% if @alum.photos.present? %>
    <ul class="list-group">
    <%= render @alum.photos.sort_by{|e| e[:created_at]} %>
    </ul>
  <% else %>
    <p class="alert alert-danger">No alumni photos yet.</p>
  <% end %>


