<%= form_for(@photo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <% if @photo.alum %>
    <%= f.hidden_field :alum_id, :value => @photo.alum.id %>
    <%= f.label :alumni_name %>: <%= @photo.alum.first_name %> <%= @photo.alum.last_name %>
  <% else %>
    <%= f.select :alum_id, Alum.all.map { |u| ["#{u.first_name} #{u.last_name}", u.id] }, { selected: params[:alum_id] }, class: "form-control" %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :photo_filename, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_taken %><br>
    <%= f.date_select :photo_date, {:start_year => 1960, :end_year => Time.now.year}, class: "inline-block" %>
  </div>
  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :photo_notes, class: "form-control" %>
  </div>

<!--   <div class="form-group">
    <%#= f.label :tag_list, "Tags (all lowercase, separated by commas)" %><br>
    <%#= f.text_field :tag_list, class: "form-control" %>
  </div>
 -->
  <div class="form-group">
    <%= f.file_field :photograph, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
