<div class="page-header">
  <h1>Attachments <%= link_to 'Add', new_photo_path, class: 'btn btn-default btn-xs' %></h1>
</div>

<%= will_paginate @photos %>

<ul class="list-group">
  <% @photos.each do |photo| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-md-2">
          <% if photo.photograph.content_type == 'application/pdf' %>
              <%= link_to "PDF", photo %>
          <% else %>
              <%= link_to image_tag(photo.photograph.url(:thumb)), photo %>
          <% end %>
        </div>
        <div class="col-md-2">
          <%# photo.tag_list.each do |t| %>
            <%#= link_to t, photo_tag_path(t), class: "label label-primary" %>
          <%# end %>
          <%= link_to "#{photo.alum.first_name} #{photo.alum.last_name}", alum_path(photo.alum) %>
       </div>
        <div class="col-md-3">
          <%= photo.photo_filename %>
        </div>
        <div class="col-md-2">
          <%= photo.photo_date %>
        </div>
        <div class="col-md-3">
          <div class="btn-group pull-right">
            <%= link_to 'Show', photo, class: "btn btn-xs btn-default" %>
            <% if (signed_in? && current_user == photo.user) | (signed_in? && current_user.admin?) %>
              <%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-xs btn-default" %>
              <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @photos %>

