<div class="page-header">
  <h1>Photos <%= link_to 'Add', new_photo_path, class: 'btn btn-default btn-xs' %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_tag photos_path, :method => :get do %>
      <div class="input-group">
  
          <%= text_field_tag :search, params[:search], placeholder: "Search photos...", class: "form-control search" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
          <%= link_to 'Reset', photos_path, class: "btn btn-default" %>
        </span>
      </div>
    <% end %>
    <!-- <p>Download list as <%#= link_to "CSV", users_path(format: "csv") %>.</p> -->
  </div>
  <div class="col-md-6">
    <p>Tags: 
      <%= link_to "clear", photos_path, class: "label label-danger"  %>
      <% tag_cloud Photo.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, photo_tag_path(tag.name), class: "label label-primary"  %>
      <% end %>
    </p>
  </div>
</div>

<hr>

<%= will_paginate @photos %>

<ul class="list-group">
  <% @photos.each do |photo| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-md-2">
          <%= link_to image_tag(photo.photograph.url(:thumb)), image_path(photo.photograph.url(:original)), :target => "_blank" %>
        </div>
        <div class="col-md-2">
          <% photo.tag_list.each do |t| %>
            <%= link_to t, photo_tag_path(t), class: "label label-primary" %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= photo.photo_filename %>
        </div>
        <div class="col-md-2">
          <%= photo.photo_date %>
        </div>
        <div class="col-md-3">
          <div class="btn-group pull-right">
            <%= link_to 'Show', photo, class: "btn btn-xs btn-default" %>
            <% if (signed_in? && current_user == photo.user) | (signed_in? && current_user.admin?) %>
              <%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-xs btn-default" %>
              <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @photos %>

