<div class="page-header">
  <h1>Photos</h1>
</div>

<p>
  <%= link_to 'Add Photo', new_photo_path, class: 'btn btn-primary' %>
</p>

<hr>

<%= will_paginate @photos %>

<ul class="list-group">
  <% @photos.each do |photo| %>
    <li class="list-group-item">              
      <div class="row">
        <div class="col-md-2">
          <%= link_to image_tag(photo.photograph.url(:thumb)), image_path(photo.photograph.url(:original)), :target => "_blank" %>
        </div>
        <div class="col-md-2">
          <% photo.tag_list.each do |t| %>
            <%= link_to t, tag_path(t), class: "label label-primary" %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= photo.photo_filename %>
        </div>
        <div class="col-md-2">
          <%= photo.photo_date %>
        </div>
        <div class="col-md-3">
          <div class="btn-group pull-right">
            <%= link_to 'Show', photo, class: "btn btn-xs btn-default" %>
            <% if (signed_in? && current_user == photo.user) | (signed_in? && current_user.admin?) %>
              <%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-xs btn-default" %>
              <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @photos %>

